@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url(https://fonts.googleapis.com/css?family=Khula:400);

@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #171717;
  overflow-x: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

span {
  cursor: default;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.cursor{
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
.cursor2,.cursor3{
  height: 18px;
  width: 18px;
  z-index:99998;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
  -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
  transform:scale(2) translateX(-25%) translateY(-25%);
  border:none
}
.cursor2{
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
  background: rgba(255,255,255,1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
  .cursor,.cursor2,.cursor3{
    display: none
  }
}

/* #Primary style
================================================== */

.section {
    position: relative;
  width: 100%;
  display: block;
}
.over-hide{
  overflow: hidden;
}
.full-height {
  height: 100vh;
}

/* #Navigation
================================================== */

.cd-header{
    position: fixed;
  width:100%;
  top:0;
  left:0;
  z-index:100;
}
.header-wrapper{
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}

.logo-wrap {
  position: absolute;
  display:block;
  left:0;
  top: 40px;

}

.logo-wrap a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #fff;
  transition : all 0.3s ease-out;
  text-decoration: none!important;
}

.logo-wrap a span{
  color: #8167a9;
}

/* #Box Effect
================================================== */


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-5px);}
  60% {-webkit-transform: translateY(-2px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-5px);}
  60% {-moz-transform: translateY(-2px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-5px);}
  60% {-o-transform: translateY(-2px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-5px);}
  60% {transform: translateY(-2px);}
}

a#effect-box:after,
a#effect-box:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

a#effect-box:after {
  border-bottom: 4px solid #8167A9;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a#effect-box:hover:after,
a#effect-box:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* #Dark Mode Switch
================================================== */


.switch-wrap {
  z-index: 10;
  transform: translateY(-50%);
  transition: all 500ms linear;
  margin: 0 auto;
  margin-top: 10px;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 27px;
  background: #8167a9;
  position: relative;
  display: inline-block;
}
#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #fff;
}
.switched {
  border-color: #8167a9 !important;
  background: #000 !important;
}
.switched #circle {
  left: 43px;
  background: #000;
}

.nav-but-wrap{
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
  transition : all 0.3s ease-out;
}
.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}
.nav {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26,0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
          transform: translateX(100%) translateY(-100%);
}
.nav:after {
  background: #09090C;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav:before {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.nav__content {
  position: fixed;
  visibility: hidden;
  top: 50%;
  margin-top: 20px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
}
.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: 3px;
  -webkit-transform: translate(100px, 0%);
          transform: translate(100px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__list-item a{
  position: relative;
  text-decoration: none;
  color: rgba(255,255,255,0.6);
  overflow: hidden;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__list-item a:after{
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -2px;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #8167a9;
  z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__list-item a:hover:after{
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}
.nav__list-item a:hover{
  color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a{
  color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a:after{
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}
body.nav-active .nav__content {
  visibility: visible;
}
body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
          transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
          transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.headline{
  z-index: 10;
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.headline h1 {
  font-weight: 900;
  font-size: 3em;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}

.headline .fa-code {
  color: #8167A9;
  font-weight: 900;
}

.headline h1::after {
  content: "";
  display: inline-block;
  background-color: #606060;
  margin-left: 5px;
  width: 28px;
  height: .75em;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.hidden-stack {
  height: 0;
  z-index: -1;
  cursor: default;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .6s ease;
  color: #51494C;
  text-align: left;
  padding-left: 22%;
}

.console-container {
  font-family:Khula;
  font-size: 3em;
  text-align:center;
  display:block;
  color:white;
  cursor: default;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.console-container:hover .hidden-stack {
  transition: all .6s ease;
  height: 1.5em;
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-btn-container a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  font-weight: 700;
}

.contact-btn {
  text-decoration: none;
  border: 4px solid #8167A9;
  position: relative;
  overflow: hidden;
}

.contact-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.contact-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.contact-btn:hover:before {
  left: 100%;
}

/* #Light
================================================== */

body.light{
  background:
        radial-gradient(#8167A9 2px, transparent 3px),
        radial-gradient(#8167A9 2px, transparent 3px),
        #fff;
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}
body.light .cursor,
body.light .cursor2,
body.light .cursor3{
  mix-blend-mode: normal;
}
body.light .cursor2{
  border: 2px solid #1f2029;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
body.light .cursor2.hover{
  background: rgba(0,0,0,0.06);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

body.light .logo-wrap a {
  color: #1f2029!important;
  background-color: #fff;
}

body.light .menu-icon__line {
  background-color: #1f2029;
}
body.light .nav:before {
  background: rgba(235, 235, 235,0.6);
}
body.light .nav:after {
  background: rgba(250,250,250,1)!important;
}
body.light .nav__list-item a{
  color: rgba(0,0,0,0.6)!important;
}
body.light .nav__list-item a:hover{
  color: #1f2029!important;
}
body.light .nav__list-item.active-nav a{
  color: #1f2029!important;
}

body.light .switch-wrap p span:nth-child(2):before {
  opacity: 1;
  background-color: #000;
}
body.light .switch-wrap p span:nth-child(1):before {
  opacity: 0;
}

body.light .headline h1 span {
  color: #000;
  background-color: #fff;
}

body.light .console-container span {
  color: #000;
  background-color: #fff;
}

body.light .contact-btn {
  color: #8167A9;
  background-color: #fff;
}

body.light .hidden-stack span {
  background-color: #fff;
  color: #51494C;
}

/* Footer */

.footer {
  width: 100%;
  z-index: 10;
  display:block;
  margin: 0 auto;
  position: fixed;
  bottom: 5%;
  text-align-last: center;
  padding-inline-start: 0px;
}
.social-icon {
    color: #fff;
}
social-icons {
  margin-top: 10px;
  cursor: pointer;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #B13424;
}
.fa-medium-m {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-medium-m:hover {
    background-color: #00aced;
}
.fa-angellist {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-angellist:hover {
    background-color: #E64980;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}


@media screen and (max-width: 1024px) {
  .console-container {
    font-size: 1.2em;
  }
  .hidden-stack {
    padding-left: 0;
    text-align: center;
  }
}
